<div class="row tm-mt-big">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="bg-white tm-block">
            <div class="row">
                <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Add Product</h2>
                </div>
            </div>
            <div class="row mt-4 tm-edit-product-row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <form action="/admin/adminAddProduct" method="post" enctype="multipart/form-data"
                        class="tm-edit-product-form">
                        <div class="input-group mb-3">
                            <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Product
                                Name
                            </label>
                            <input id="name" name="name" type="text"
                                class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" required>
                        </div>
                        <div class="input-group mb-3">
                            <label for="description"
                                class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Description</label>
                            <textarea class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3"
                                name="description" required></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <label for="category"
                                class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Category</label>
                            <select class="custom-select col-xl-9 col-lg-8 col-md-8 col-sm-7" name="category"
                                id="category" required>
                                {{#each category}}
                                <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="input-group mb-3">
                            <label for="expire_date" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Price
                            </label>
                            <input id="expire_date" name="price" type="text"
                                class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" data-large-mode="true"
                                required>
                        </div>
                        <div class="input-group mb-3">
                            <label for="stock" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Units
                                In
                                Stock
                            </label>
                            <input id="stock" name="stock" type="text"
                                class="form-control validate col-xl-9 col-lg-8 col-md-7 col-sm-7" required>
                        </div>

                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 mx-auto mb-4">
                    <div class="tm-product-img-dummy mx-auto">
                        <i class="fas fa-5x fa-cloud-upload-alt"></i>
                    </div>
                    <div class="custom-file mt-3 mb-3">
                        <input id="fileInput" multiple type="file" style="display:none;" name="image" />
                        <input id="button-disable" type="button" class="btn btn-primary d-block mx-auto" value="Upload"
                            onclick="document.getElementById('fileInput').click();" required />
                    </div>



                    {{!-- Script for Image Upload --}}
                    <script>

                        // Get the input element for the file
                        var input = document.getElementById('fileInput');

                        // Add an event listener to the input element to detect when a file is selected
                        input.addEventListener('change', function () {

                            // Get the selected files
                            var files = input.files;

                            // Loop through the selected files
                            for (var i = 0; i < files.length; i++) {

                                Toastify({
                                    text: 'Image ' + (i + 1) + ' uploaded successfully!',
                                    duration: 3000,
                                    close: true,
                                    gravity: 'top',
                                    position: 'center',
                                    style: {
                                        background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
                                    },
                                    stopOnFocus: true
                                }).showToast();

                                // Button disabled after Upload
                                document.getElementById('button-disable').disabled = true;
                            }

                        });
                    </script>



                </div>
                <div class="input-group mb-3">
                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                        <button type="submit" class="btn btn-primary">Add
                        </button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>