<!-- Page Add Section Begin -->
<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>Contact us<span>.</span></h2>
                     <a href="/">Home</a>
                     <a href="/userProfile">My Profile</a>
                     <a class="active" href="/cart">Contact Us</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="img/add.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Page Add Section End -->

<!-- Contact Section Begin -->
<div class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <form action="#" class="contact-form">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="text" placeholder="Last Name">
                        </div>
                        <div class="col-lg-12">
                            <input type="email" placeholder="E-mail">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="col-lg-12 text-right">
                            <button type="submit">Send message</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="contact-widget">
                    <div class="cw-item">
                        <h5>Location</h5>
                        <ul>
                            <li>Marvelouse Wear Store, </li>
                            <li>Kakkanad, Kochi</li>
                            <li>Kerala, India</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>Phone</h5>
                        <ul>
                            <li>+91 7592815640</li>
                        </ul>
                    </div>
                    <div class="cw-item">
                        <h5>E-mail</h5>
                        <ul>
                            <li>marvelousewear@gmail.com</li>
                            <li>www.marvelouswear.store</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="map">
            <div class="row">
                <div class="col-lg-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39709.72580085402!2d76.33384133740445!3d10.009217856803677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0886b4e30fc49d%3A0x7d6e8450cb8d2f42!2sKakkanad%2C%20Kochi%2C%20Kerala%2C%20India!5e0!3m2!1sen!2sbd!4v1570216043563!5m2!1sen!2sbd"
                        height="560" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->