
<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-150 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card my-5" style="border-radius: 15px;">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-5">Forgot Password Verification</h2>

              <form action="/forgotPasswordVerify" method="post">
              <input type="tel" name="phone" class="form-control" value="{{mobile}}">
                <div class="form-outline mb-4 mt-4">
                  <input type="tel" id="otp" class="form-control form-control-lg" name="otp"/>
                  <label class="form-label" for="otp">Enter otp send to Registered Mobile Number</label>
                </div>
                <div class="d-flex justify-content-center">
                  <a href=""><button type="submit"
                    class="btn btn-dark btn-block btn-lg  text-white">Verify</button></a>
                </div>
              </form>
               {{#if status}}
                <div class="text-center mt-2">
                <span class="font-weight-bold text-danger">Invalid OTP !!</span>
                </div>
                {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>