

<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-150 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card my-5" style="border-radius: 15px;">
            <div class="card-body">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>
              <h6>Enter the code we just send on your mobile phone <br><b class="text-danger">+91 {{phone}}</b></h6>
              <br>
              <form action="/otpverification" method="post">
                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="otp" />
                  <label class="form-label" for="form3Example1cg">Enter OTP</label>
                </div>

                {{#if errMsg}}
                <label class="text-danger">{{errMsg}}</label>
                {{/if}}

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-dark btn-block btn-lg text-white">Submit</button>
                </div>
              </form>

              <div id="resend-container" class="text-center mt-4">
                <p>Didn't receive OTP? Resend in <span id="timer">30</span> seconds.</p>
                <button id="resend-btn" class="btn btn-link" onclick="location.reload()" disabled>Resend OTP</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  // Timer
  let timerValue = 30;
  const timerElement = document.getElementById('timer');

  function startTimer() {
    const timerInterval = setInterval(() => {
      timerValue--;
      timerElement.textContent = timerValue;

      if (timerValue <= 0) {
        clearInterval(timerInterval);
        document.getElementById('resend-btn').disabled = false;
      }
    }, 1000);
  }

  // Resend Button Click Event
  const resendButton = document.getElementById('resend-btn');
  resendButton.addEventListener('click', () => {

    startTimer();
    resendButton.disabled = true;
  });

  // Start the timer on page load
  startTimer();
</script>